<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.64.0.0" targetFramework="native" />
  <package id="boost_atomic-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_bzip2-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_chrono-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_container-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_context-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_coroutine-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_date_time-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_exception-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_graph-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_iostreams-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_locale-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_log_setup-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_log-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_c99f-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_c99l-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_c99-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_tr1f-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_tr1l-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_math_tr1-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_prg_exec_monitor-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_program_options-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_python3-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_python-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_random-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_regex-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_serialization-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_signals-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_system-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_test_exec_monitor-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_thread-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_timer-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_type_erasure-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_wave-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_wserialization-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost_zlib-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="boost-vc110" version="1.64.0.0" targetFramework="native" />
  <package id="libpng" version="1.6.28.1" targetFramework="native" />
  <package id="libpng.redist" version="1.6.28.1" targetFramework="native" />
  <package id="lua" version="5.3.3" targetFramework="native" />
  <package id="lua.redist" version="5.3.3" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>